### Connect to Snowflake

In [7]:
import snowflake.connector

# Establish a connection
conn = snowflake.connector.connect(
    user="DINITHAW",
    password="Mahanama098765",
    account="GQREZBO-CF24521",
)

print("Connected to Snowflake successfully!")

Connected to Snowflake successfully!

### Create a Database and Table in Snowflake

In [8]:
cur = conn.cursor()

# Create Database
cur.execute("CREATE DATABASE IF NOT EXISTS SeasonDataDB;")

# Switch to the new database
cur.execute("USE DATABASE SeasonDataDB;")

# Create a Table (Modify Columns as per data_season.csv)
cur.execute("""
    CREATE TABLE IF NOT EXISTS SeasonData (
        Season STRING,
        Temperature FLOAT,
        Humidity FLOAT,
        WindSpeed FLOAT
    );
""")

print("Database and Table created successfully!")

Database and Table created successfully!

Load Data from cleaned_data.csv into pandas dataframe

In [9]:
import pandas as pd

# Load dataset into a Pandas DataFrame
df = pd.read_csv("cleaned_data.csv")

# Display the first few rows
df.head()

,Year,Location,Area,Rainfall,Temperature,Soil type,Irrigation,Yeilds,Humidity,Crops,Price,Season
0,2004,Mangalore,1279,2903.1,27.0,Alluvial,Drip,2570.0,57.0,Coconut,200000,Kharif
1,2004,Mangalore,13283,2903.1,27.0,Alluvial,Drip,27170.0,57.5,Coconut,4847,Kharif
2,2004,Mangalore,52119,2903.1,27.0,Alluvial,Drip,114744.0,57.0,Coconut,51239,Kharif
3,2004,Mangalore,725,2996.6,27.0,Alluvial,Drip,1402.0,55.0,Coconut,216396,Kharif
4,2004,Mangalore,12885,2996.6,27.0,Alluvial,Drip,23456.0,56.0,Coconut,2644,Kharif

insert the data into Snowflake:

In [14]:
# Insert data row by row (for small datasets)
for index, row in df.iterrows():
    cur.execute(f"""
        INSERT INTO SeasonData (Season, Temperature, Humidity, WindSpeed)
        VALUES ('{row['Season']}', {row['Temperature']}, {row['Humidity']}, {row['Yeilds']});
    """)

print("Data successfully inserted into Snowflake!")

Data successfully inserted into Snowflake!

## Snowflake Dashboard

In [20]:
import streamlit as st

# Ensure the correct database is being used
cur.execute("USE DATABASE SeasonDataDB;")

# Fetch data from the table
cur.execute("SELECT * FROM SeasonData;")
rows = cur.fetchall()

# Create a DataFrame from the fetched data
df_season = pd.DataFrame(rows, columns=["Season", "Temperature", "Humidity", "WindSpeed"])

# Streamlit Dashboard
st.title("Seasonal Data Dashboard (Snowflake)")
st.line_chart(df_season.set_index("Season")["Temperature"])
st.bar_chart(df_season.set_index("Season")["Humidity"])

st.write("Latest Data:")
st.dataframe(df_season.tail(10))

2025-03-23 15:01:06.165
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/dinitha-wickramasinghe/.local/lib/python3.12/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()